*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;

}

.input-box {
    width: 350px;
    padding: 20px;
    background: #ffffff3a;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    text-align: center;
    backdrop-filter: blur(18px);
    position: relative;
    z-index: 5;
}

.input-box h1 {
    margin-bottom: 20px;
    /* font-size: 24px; */
    color: brown;
}

.input-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}


.input-box button {
    width: 100%;
    padding: 10px;
    border: none;
    background: brown;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.input-box button:hover {
    opacity: 0.9;
}

.input-box p {
    margin: 10px 0;
    color: black;
    text-align: start;
}

.input-box a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.input-box a:hover {
    text-decoration: underline;
}


.girl{
  width: 100%;
  height: 100%;
  background-image: url(./img/girl.png);
  background-size: 20% 40%;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  position: absolute;
  z-index: -2;
  animation: girl-an 6s linear infinite;

}

.tree{
  background-image: url(./img/trees.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
  z-index: -1;
}


.leaf1 {
  background: url(./img/leaf_01.png);
  background-repeat: no-repeat;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 60%;
  left: 5%;
  animation: leaf-an 5s linear infinite;
}
.leaf2 {
  background: url(./img/leaf_02.png);
  background-repeat: no-repeat;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 60%;
  left: 20%;
  animation: leaf-an 5s linear infinite;
}
.leaf3 {
  background: url(./img/leaf_03.png);
  background-repeat: no-repeat;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 60%;
  left: 45%;
  animation: leaf-an 5s linear infinite;
}
.leaf4 {
  background: url(./img/leaf_04.png);
  background-repeat: no-repeat;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 60%;
  left: 55%;
  animation: leaf-an 5s linear infinite;
}
.leaf5 {
  background: url(./img/leaf_04.png);
  background-repeat: no-repeat;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 65%;
  left: 65%;
  animation: leaf-an 5s linear infinite;
}
.leaf6 {
  background: url(./img/leaf_04.png);
  background-repeat: no-repeat;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 60%;
  left: 80%;
  animation: leaf-an 5s linear infinite;
}






@keyframes leaf-an { 
 0% {
    top: -10%;
    transform: translateX(0);
  }
  50% {
    top: 50%;
    transform: translateX(20px);
  }
  100% {
    top: 110%;
    transform: translateX(0);
  }
}

@keyframes girl-an {
    0% {
        transform: translateX(20%);
      }

      100% {
        transform: translateX(-100%);
      }
    }